/* 通用样式 */
/* 蓝色轮廓按钮 */
.m-btn-outline-blue {
  border: 1px solid #4693fd;
  border-radius: 100px;
  color: #4693fd;
  background-color: #fff;
}
.m-btn-outline-blue:hover,
.m-btn-outline-blue:active,
.m-btn-outline-blue.active,
.m-btn-outline-blue:focus,
.m-btn-outline-blue.focus,
.m-btn-outline-blue:active:hover,
.m-btn-outline-blue.active:hover,
.m-btn-outline-blue:active:focus,
.m-btn-outline-blue.active:focus
.m-btn-outline-blue:active.focus,
.m-btn-outline-blue.active.focus {
  border: 1px solid #3678d2;
  color: #3678d2;
  background-color: #fff;
}
/* 蓝色按钮 */
.m-btn-blue {
  color: #fff;
  background-color: #4693fd;
}
.m-btn-blue:hover,
.m-btn-blue:active,
.m-btn-blue.active,
.m-btn-blue:focus,
.m-btn-blue.focus,
.m-btn-blue:active:hover,
.m-btn-blue.active:hover,
.m-btn-blue:active:focus,
.m-btn-blue.active:focus
.m-btn-blue:active.focus,
.m-btn-blue.active.focus {
  color: #fff;
  background-color: #3678d2;
}

.m-change{
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.m-upload {
  position: relative;
}




.m-page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.m-nav-tabs > li {
  margin-bottom: 0;
}
.m-nav-tabs > li > a {
  font-size: 16px;
}
.m-nav-tabs > li.active > a,
.m-nav-tabs > li.active > a:hover,
.m-nav-tabs > li.active > a:focus {
  cursor: default;
  background-color: #fff;
  border: 1px solid #fff;
  position: relative;
  color: #1fae92;
}
.m-nav-tabs > li.active > a:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #1fae92;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.m-nav-tabs li a {
  padding: 10px 5px;
  font-size: 14px;
}


.m-form {
  padding-top: 15px;
}
.m-secondary {
  color: #bdbdbd;
}
.m-show-pic {
  width: 120px;
  height: 70px;
  background-color: #cbcbcb;
  margin-right: 5px;
  border-radius: 3px;
}
.m-show-pic2 {
  width: 30px;
  height: 30px;
  background-color: #cbcbcb;
  margin-right: 5px;
  border-radius: 3px;
}



.m-input-group {
  margin-bottom: 5px;
}


@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
