/* ==================== */
/* ====== 通用样式 ====== */
/* ==================== */
body {
  padding-bottom: 50px;
}
/* 标签样式格式化 */
.label {
  padding: 0.25em 0.4em;
}
/* 蓝色轮廓按钮 */
.m-btn-outline-blue {
  border: 1px solid #4693fd;
  border-radius: 100px;
  color: #4693fd;
  background-color: #fff;
}
.m-btn-outline-blue:hover,
.m-btn-outline-blue:active,
.m-btn-outline-blue.active,
.m-btn-outline-blue:focus,
.m-btn-outline-blue.focus,
.m-btn-outline-blue:active:hover,
.m-btn-outline-blue.active:hover,
.m-btn-outline-blue:active:focus,
.m-btn-outline-blue.active:focus
.m-btn-outline-blue:active.focus,
.m-btn-outline-blue.active.focus {
  border: 1px solid #3678d2;
  color: #3678d2;
  background-color: #fff;
}
/* 红色轮廓按钮 */
.m-btn-outline-red {
  border: 1px solid #df5143;
  border-radius: 100px;
  color: #df5143;
  background-color: #fff;
}
.m-btn-outline-red:hover,
.m-btn-outline-red:active,
.m-btn-outline-red.active,
.m-btn-outline-red:focus,
.m-btn-outline-red.focus,
.m-btn-outline-red:active:hover,
.m-btn-outline-red.active:hover,
.m-btn-outline-red:active:focus,
.m-btn-outline-red.active:focus
.m-btn-outline-red:active.focus,
.m-btn-outline-red.active.focus {
  border: 1px solid #cd4739;
  color: #cd4739;
  background-color: #fff;
}
/* 绿色按钮 */
.m-btn-green {
  color: #fff;
  background-color: #1fae92;
}
.m-btn-green:hover,
.m-btn-green:active,
.m-btn-green.active,
.m-btn-green:focus,
.m-btn-green.focus,
.m-btn-green:active:hover,
.m-btn-green.active:hover,
.m-btn-green:active:focus,
.m-btn-green.active:focus
.m-btn-green:active.focus,
.m-btn-green.active.focus {
  color: #fff;
  background-color: #188f78;
}
/* 蓝色按钮 */
.m-btn-blue {
  color: #fff;
  background-color: #4693fd;
}
.m-btn-blue:hover,
.m-btn-blue:active,
.m-btn-blue.active,
.m-btn-blue:focus,
.m-btn-blue.focus,
.m-btn-blue:active:hover,
.m-btn-blue.active:hover,
.m-btn-blue:active:focus,
.m-btn-blue.active:focus
.m-btn-blue:active.focus,
.m-btn-blue.active.focus {
  color: #fff;
  background-color: #3678d2;
}
/* 上传文件按钮样式 */
.m-upload {
  position: relative;
}
.m-change{
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
/* 显示图片样式 */
.m-show-pic {
  width: 120px;
  height: 70px;
  background-color: #cbcbcb;
  margin-right: 5px;
  border-radius: 3px;
}
.m-show-pic2 {
  width: 30px;
  height: 30px;
  background-color: #cbcbcb;
  margin-right: 5px;
  border-radius: 3px;
}
/* 页头样式 */
.m-page-header {
  padding: 9px 15px;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 1px #dddddd;
}
/* tab选项卡样式 */
.m-nav-tabs > li {
  margin-bottom: 0;
}
.m-nav-tabs > li > a {
  font-size: 16px;
}
.m-nav-tabs > li.active > a,
.m-nav-tabs > li.active > a:hover,
.m-nav-tabs > li.active > a:focus {
  cursor: default;
  background-color: #fff;
  border: 1px solid #fff;
  position: relative;
  color: #1fae92;
}
.m-nav-tabs > li.active > a:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #1fae92;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.m-nav-tabs li a {
  padding: 10px 5px;
  font-size: 14px;
}
/* tab选项卡样式2 */
.m-nav-tabs-2 {
  border-bottom: none;
  margin-top: 15px;
}
.m-nav-tabs-2 > li {
  margin-bottom: 0;
}
.m-nav-tabs-2 > li.active > a,
.m-nav-tabs-2 > li.active > a:hover,
.m-nav-tabs-2 > li.active > a:focus {
  cursor: default;
  background-color: #4693fd;
  border: 1px solid #fff;
  position: relative;
  color: #fff;
}
.m-nav-tabs-2 li a {
  padding: 5px 5px;
  font-size: 14px;
  border-radius: 4px;
}
/* form上边距样式 */
.m-form {
  padding-top: 15px;
}
/* 次要文字样式 */
.m-secondary {
  color: #bdbdbd;
}
/* 重置分页样式 */
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #1fae92;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #1fae92;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #1fae92;
  border-color: #1fae92;
}
/* pills导航样式 */
.m-nav-pills > li.active > a,
.m-nav-pills > li.active > a:hover,
.m-nav-pills > li.active > a:focus {
  background-color: #fff;
  color: #ed8f39;
  position: relative;
}
.m-nav-pills > li.active::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ed8f39;
  position: absolute;
  bottom: 0;
  left: 0;
}
.m-margin-bottom-10 {
  margin-bottom: 10px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 所有input后面文字样式 */
.form-control-feedback {
  color: #bdbdbd;
}






/* ==================== */
/* ==== 菜品管理样式 ==== */
/* ==================== */







/* ==================== */
/* ==== 用户管理样式 ==== */
/* ==================== */
.m-yonghu-nav {
  margin-top: 15px;
}
.m-pagination {
  margin: 0;
  margin-bottom: 15px;
}
.m-pagination-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}
.m-label-con .label {
  display: inline-block;
}




/* ==================== */
/* ==== 满减优惠样式 ==== */
/* ==================== */








@media (min-width: 768px) {
}
@media (min-width: 992px) {
  /* 用户管理样式 */
  .m-pagination-box {
    flex-flow: row;
  }
  .m-pagination-box p {
    margin-bottom: 0;
  }
  .m-pagination {
    margin-bottom: 0;
  }
  .m-yonghu-nav {
    border-right: 1px solid #e3e3e3;
    height: 50vh;
  }
  /* pills导航样式 */
  .m-nav-pills > li.active::after {
    content: '';
    height: 0;
    width: 0;
  }
  /* 点菜宝页面用到 */
  .m-margin-bottom-10 {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
}
